<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input required [(ngModel)]="username" placeholder="User" type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        required
        [(ngModel)]="password"
        placeholder="Password"
        type="password"
      >
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          (click)="AddDataUser()"
          color="primary"
          shape="full"
          expand="block"
          >Tambah User
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
